{% extends 'base.html' %}

{% load static %}


{% block title %}راهنما{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<html>
<head>
<meta charset="utf-8"/>
<!-- Copyright 1998-2021 by Northwoods Software Corporation. -->
<title>Help</title>
</head>
<body style="background-color:gray; color:white; font-family:tahoma; font-size:20px">
<div align="right"  ><b></b>
  <span class="tooltiptext" dir="rtl">
  با توجه به عریض بودن صفحات، اطلاعات در لپ‌تاپ یا دسکتاپ بهتر از گوشی موبایل نمایش داده می‌شوند
  <br/><br/>
در لپ‌تاپ یا دسکتاپ، علاوه بر اسکرول‌های صفحه می‌توانید با نگه داشتن کلیک ماوس و حرکت ماوس، روی صفحه حرکت کنید. همچنین پس از کلیک در میان صفحه، با دکمه‌های + و - می‌توانید زوم کنید
  <br/><br/>
در زمان استفاده از گوشی موبایل نیز می‌توانید با حرکت انگشت روی قسمت خاکستری، روی صفحه حرکت کنید و با دور و نزدیک کردن انگشت‌ها نسبت به هم می‌توانید زوم کنید
  <br/><br/>
در صورتی که نام شما در لیست اسامی ثبت نشده، لطفا بر روی منوی ورود اطلاعات کلیک کرده و فرم مخصوص را پر کنید. اطلاعات ثبت شده پس از چند روز به لیست اسامی اضافه خواهند شد
  <br/><br/>
در صورت نگه داشتن ماوس روی نام افراد یا اشاره بر روی اسامی در زمان استفاده از موبایل، برخی مشخصات مانند تاریخ تولد، نام مادر و پدر نمایش داده می‌شود
  <br/>
  <p style="color:#F48FB1">
  افراد مشخص شده با رنگ صورتی: وارد شده از فرم ورود اطلاعات - خانم
  </p>
  <p style="color:#90CAF9">
افراد مشخص شده با رنگ آبی: وارد شده از فرم ورود اطلاعات - آقا
  </p>

  <p style="color:#FFBC79">
افراد مشخص شده با رنگ نارنجی: وارد شده از فایل شجره نامه پیشین، صحبتهای شفاهی و سایر منابع - خانم. در صورتی که نام شما با این رنگ ثبت شده، لطفا فرم ورود اطلاعات را پر کنید
  </p>
  <p style="color:#CEF8F8">
افراد مشخص شده با رنگ نارنجی: وارد شده از فایل شجره نامه پیشین، صحبتهای شفاهی و سایر منابع - آقا. در صورتی که نام شما با این رنگ ثبت شده، لطفا فرم ورود اطلاعات را پر کنید
  </p>


علامت ستاره در کنار نام برخی افراد به این معنی است که نام شخص حداقل یک بار دیگر در لیست افراد ثبت شده و علاوه بر آن در شاخه فعلی نیز از طرف مادر یا یکی از مادران نسلهای بالا به این خاندان متصل می‌باشد
  <br/><br/>
می‌توانید از سه نسخه فارسی، انگلیسی و expandable استفاده کنید. در نسخه expandable امکان جستجو وجود ندارد، در عوض می‌توانید در قسمت میانی هر نود کلیک کرده و نسل پایین را مشاهده کنید
  <br/><br/>
اعدادی که در قسمت جستجوی افراد و در کنار نام آنها دیده می‌شود، اعداد معنی داری بر اساس ویژگیهای افراد نیستند و صرفا در نرم افزار از آن استفاده می‌شود. همچنین این اعداد پس از اضافه شدن اطلاعات افراد جدید تغییر می‌کنند  
</span>
</div>
</body>
</html>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}
