{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

<style>
  .container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  </style>

<table class="center">
  <tr>
    <td>
      <h2>Log In</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
      </form>
</td>
</tr>
</table>
{% endblock %}

